@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url("1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  }
  .box{
    width: 600px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
  }
  .box-img{
    border-radius: 50%;
    width: 300px;
    height: 270px;
  }
  .box h1{
    margin-top: -50px;
    font-size: 35px;
    letter-spacing: 4px;
    color: black;
    background-color: white;
    border-radius: 10px;
    height: 50px;
  }
  .box h5{
    margin: 20px;
    font-size: 27px;
    letter-spacing: 3px;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    margin-left: 20px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
  } 
 /* navbar*/
 ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection{
background: rgb(0,123,255,0.3);
}
.content{
background:transparent;
max-width: 1250px;
margin: auto;
padding: 0 30px;
}
.navbar{
background-color:  #1b1b1b;
position: fixed;
width: 100%;
z-index: 2;
padding: 25px 0;
transition: all 0.3s ease;
}
.navbar.sticky{
background: #1b1b1b;
padding: 10px 0;
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar .logo a{
color: #fff;
font-size: 30px;
font-weight: 700;
text-decoration: none;
}
.navbar .menu-list{
display: inline-flex;
}
.menu-list li{
list-style: none;
}
.menu-list li a{
color: #fff;
font-size: 18px;
font-weight: 600;
margin-left: 40px;
text-decoration: none;
transition: all 0.3s ease;
}
.menu-list li a:hover{
color: #007bff;
}
.banner{
height: 10vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.about{
padding: 30px 0;
text-align: justify;
}
.about .title{
font-size: 38px;
font-weight: 300;
}
.icon{
color: #fff;
font-size: 20px;
cursor: pointer;
display: none;
}
.menu-list .cancel-btn{
position: absolute;
right: 30px;
top: 20px;
}
@media (max-width: 1230px) {
.content{
  padding: 0 60px;
}
}
@media (max-width: 1100px) {
.content{
  padding: 0 40px;
}
}
@media (max-width: 900px) {
.content{
  padding: 0 30px;
}
}
@media (max-width: 868px) {
  /*about me*/
  .box{
    width: 400px;
    padding: 20px;
  }
  .box-img{
    width: 200px;
    height: 160px;
  }
  .box h1{
    font-size: 25px;
    height: 40px;
  }
  .box h5{
    font-size: 17px;
  }
  /* about me */
body.disabled{
  overflow: hidden;
}
.icon{
  display: block;
}
.icon.hide{
  display: none;
}
.navbar .menu-list{
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  left: -100%;
  top: 0px;
  display: block;
  padding: 40px 0;
  text-align: center;
  background: #222;
  transition: all 0.3s ease;
}
.navbar.show .menu-list{
  left: 0%;
}
.navbar .menu-list li{
  margin-top: 45px;
}
.navbar .menu-list li a{
  font-size: 23px;
  margin-left: -100%;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar.show .menu-list li a{
  margin-left: 0px;
}
}
@media (max-width: 380px) {
.navbar .logo a{
  font-size: 27px;
}
.box{
  width: 300px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.box h1{
  font-size: 18px;
  height: 30px;
}
}
  